@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    @keyframes bounce-scale {
        0%, 100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.05);
        }
    }

    @keyframes leftslide {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      @keyframes rightslide {
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      .left-menu {
        animation: leftslide 1s ease-out;
      }
      
      .right-menu {
        animation: rightslide 900ms ease-out;
    }

    .offer-card-bg{
        background: url(../assets/vegetable-offer.png) no-repeat,
        linear-gradient(to right bottom, #5cdd45, #aeeea2) no-repeat;
        background-position: right bottom, center;
        background-size: 250px, cover;
    }
      
}
